.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.admin-button {
  padding: 6px;
  border: 1px solid black;
  background-color: #f2eeed;
  border-radius: 3px;
  height: 100%;
  vertical-align: top !important;
}

.red-admin-button {
  padding: 6px;
  height: 100%;
  border: 1px solid gray;
  border-radius: 3px;
  color: white;
  background-color: red;
}

.top-buttons {
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: auto;
}

.admin-buttons-top {
  float: right;
}

.admin-buttons-top tr td {
  padding: 0px 0px 0px 5px;
}

.top-admin-buttons {
  float: right;
  overflow: hidden;
}

.top-nav-bar {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.nav-buttons {
  border: 0px;
  padding: 0px;
  margin: 0px;
  background: black;
  color: white;
}

.hidden-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  color: red;
  z-index: 9999;
}

.hidden-kambas-navigation {
  width: 100%;
  list-style: none;
  padding: 10px;
  margin: 0px;
  text-align: left;
}

.hidden-kambas-navigation li {
  padding-bottom: 5%;
}
.hidden-kambas-navigation a {
  text-decoration: none;
  color: red;
}

.hidden-course-nav li {
  padding: 0px;
  margin: 0px;
}

.assignment-weight {
  display: inline;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
}

.form-group > * {
  margin-bottom: 5px;
  margin-right: 5px;
}

.form-group {
  margin-bottom: 10px;
}

.module-list-edit-btn {
  padding: 1px 5px !important;
  margin-left: 5px;
  font-size: 13px !important;
}

.flex-row-reverse {
  padding: 0px !important;
}

.module-update-form {
  width: 50%;
}
