.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.admin-button {
  padding: 5px;
  border: 1px solid black;
  background-color: #f2eeed;
  border-radius: 3px;
  height: 100%;
  vertical-align: top !important;
}

.add-module-button {
  padding: 5px;
  height: 100%;
  border: 1px solid gray;
  border-radius: 3px;
  color: white;
  background-color: red;
}

.top-buttons {
  padding-top: 10px;
  overflow: auto;
}

.admin-buttons-top {
  float: right;
}

.admin-buttons-top tr td {
  padding: 0px 0px 0px 5px;
}
